*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

svg, img{
    width: 1.5rem;   
    height: 1.5rem;
    fill: currentColor; 
    align-self: center;
}

.main-library-logo{
    font-family: 'Great Vibes', cursive;
    font-size: 2.25rem;
    color: #2fb878;
    letter-spacing: 2%;
    font-weight: 600;
}

.nav-svg{
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

ul{
    list-style: none;
}

.main-container{
    display: flex;
    flex-direction: column;
}

header{
    height: 5rem;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 6fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    box-shadow: 0em 0em 0.5em 0em #999;
    z-index: 1;
}

.search-icon{
    justify-self: right;
    padding-right: 1em;
    line-height: 0;
}

.search-field{
    background-color: #E2E9F0;
    width: 100%;
    border-radius: 1.5em;
    height: 2.25rem;
}

.profile-name{
    font-size: 1rem;
    letter-spacing: -2%;
}

.profile-icon{
    justify-self: left;
}

main{
    background-color: #f6f6f6;
    height: auto;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr ;
    /* justify-items: center; */
}

.nav-content-container{
    padding: 1.75rem 2rem;
}

.nav-sub-headings{
    color: #909090; 
    font-weight: 500;
}

.nav-li{
    display: grid;
    grid-template-rows: repeat(auto-fit,1fr);
    /* grid-gap: 1rem; */
    /* margin: 1rem 0rem; */
    padding-bottom: 2rem;
}

.browse-nav{
    box-shadow: 0em 0.1em 0em #cdcdcd;
}

.your-books-nav{
    box-shadow: 0em 0.1em 0em #cdcdcd;
    margin-top: 2rem;
}

.shelves-nav{
    margin-top: 2rem;
}

li, .nav-sub-headings{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
}

li:hover{
    background-color: #E2E9F0;
}

.add-new-btn{
    height: 2.5rem;
    width: 60%;
    margin-left: 3rem;
    font-size: 1rem;
    background-color: #2fb878;
    border: none;
    text-decoration: none;
    color: white;
    border-radius: 0.5rem;
}

.add-new-btn:hover {
    box-shadow: 0.25em 0.25em 0.25em #cdcdcd;
}

.main-content-container{
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
}

.main-heading{
    color: #9a9a9a;
    font-size: 1.75rem;
    font-weight: 500;
}

.library-container{
    flex: 1;
}

.library-container{
    display: grid;
    grid-gap: 1.5rem;
    /* grid-auto-columns: auto; */
    grid-template-columns: repeat(auto-fill,12.5rem);
    margin: 1.25rem 0.25rem;
}

.book-card{
    height: 23rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
}

.book-card:hover{
    box-shadow: 0.25em 0.25em 0.25em #cdcdcd;
}

.book-image{
    height: 72%;
    background-color: #909090;
    border-radius: 0.25rem;
}

.library-img{
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
}

.book-card-info{
    flex: 1;
    display: grid;
    margin: 0.5rem 0.5rem;
    align-items: center;
}

.book-title{
    font-size: 1.25rem;
    font-weight: 500;
}

.book-bottom{
    display: flex;
    justify-content: space-between;
}

.book-author{
    color: #909090;
}

.aside-main-content{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 1.5rem 0rem;
}

img{
    height: 3rem;
    width: 3rem;
}

.aside-description-container{
    box-shadow: 0em 0.1em 0em #cdcdcd;
}

.aside-description{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.aside-description-name{
    font-weight: 500;
}

.aside-description-bio{
    color: #909090;
}

/* dialog css */


#close-btn{
    width: 3rem;   
    height: 3rem;
    fill: currentColor; 
    align-self: center;
}

#close-btn:hover{
    cursor: pointer;
}

dialog{
    border: none;
    justify-self: center;
    align-self: center;
    height: 33rem;
    width: 35rem;
    border-radius: 1rem;
}

.dialog-view{
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 1rem;
}

.main-container-form{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0em 0em 1em #999;
}

.header-container-form{
    font-weight: 600;
    height: 5rem;
    display: flex;
    justify-items: center;
    background-color: rgb(56, 56, 56);
    color: white;
    font-size: 2rem;
    justify-content: space-between;
    padding: 1.75rem;
}

.header-form{
    align-self: center;
}

.form-main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container{
    height: 23rem;
    display: grid;
    padding: 0rem 1.5rem 1.25rem 1.25rem;
    font-size: 1.5rem;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0rem 1.5rem;
    /* align-items: center; */
}

.input-container-form{
    display: grid;
    align-content: space-evenly;
}

.title-container-form{
    grid-column: 1/5;
}

.author-container-form , .rating-container-form{
    grid-column: 1/3;
}

.image-container-form{
    grid-row: 2/4;
    grid-column: 3/5;
}

.input-label-form{
    font-weight: 500;
}

.input-field-form{
    border: none;
    border-radius: 0.25rem;
    height: 2.25rem;
    background-color: #E2E9F0;
}

.input-field-text-form{
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
}

.image-field-form::file-selector-button{
    border: none;
    border-radius: 0.25rem;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.image-field-form::file-selector-button:hover{
    opacity: 25%;
    cursor: pointer;
}

.image-field-form:hover{
    opacity: 75%;
    cursor: pointer;
}

.image-field-form{
    height: 10rem;
    text-decoration: none;
    border: none;
}

.image-label-form{
    display: flex;
    justify-content: center;
}

.image-label-form > div{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.image-preview{
    height: 100%;
    width: 100%;
}

#image{
    display: none;
}

.submit-btn-form{
    width: 90%;
    margin-bottom: 1rem;
    align-self: center;
    height: 2.5rem;
    font-size: 1rem;
    font-size: 1rem;
    background-color: #2fb878;
    border: none;
    text-decoration: none;
    color: white;
    border-radius: 0.5rem;
}

.submit-btn-form:hover{
    box-shadow: 0.25em 0.25em 0.25em #cdcdcd;
    cursor: pointer;
}

::backdrop{
    background-color: rgb(0, 0, 0);
    opacity: 45%;
}

/* dialog css end */
